In [22]:
import rpy2.robjects as robjects
import pandas as pd

In [20]:
robjects.r.source('./ssm_data2FIR_data.R', encoding='utf-8')

<rpy2.robjects.vectors.ListVector object at 0x7fa274a311c0> [RTYPES.VECSXP]
R classes: ('list',)
[NULLType, BoolSexpVector]
  value: <class 'rpy2.rinterface_lib.sexp.NULLType'>
  <rpy2.rinterface_lib.sexp.NULLType object at 0x7fa26fa87640> [RTYPES.NILSXP]
  visible: <class 'rpy2.rinterface.BoolSexpVector'>
  <rpy2.rinterface.BoolSexpVector object at 0x7fa26f3a2a80> [RTYPES.LGLSXP]

In [25]:
df = pd.read_csv('../data/kc_dedup_smath12_reshape.csv')
df.rename(columns={"Unnamed: 0":"student"}, inplace=True)
df

,student,KC01,KC02,KC03,KC04,KC05,KC06,KC07,KC08,KC09,...,KC26,KC27,KC28,KC29,KC30,KC31,KC32,KC33,KC34,KC35
0,56,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.500,1.0
1,159,1.0,0.0,0.5,0.0,0.0,1.0,0.50,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.500,1.0
2,163,1.0,0.0,0.5,0.0,1.0,0.5,0.50,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0
3,177,1.0,1.0,1.0,1.0,1.0,1.0,1.00,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.875,1.0
4,178,1.0,1.0,1.0,1.0,1.0,1.0,1.00,1.0,0.5,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3692,156134,1.0,1.0,0.5,1.0,1.0,0.0,0.50,1.0,0.5,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000,1.0
3693,157277,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500,1.0
3694,159719,1.0,1.0,0.0,1.0,1.0,0.0,0.50,1.0,0.5,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500,1.0
3695,163164,0.0,1.0,1.0,1.0,1.0,1.0,1.00,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000,1.0
3696,163290,1.0,1.0,1.0,1.0,1.0,0.5,0.75,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.875,1.0

In [26]:
cols = df.columns.tolist()

In [27]:
for col in cols[1:]:
    df.loc[df[col] >= 0.6, col] = 1
    df.loc[df[col] < 0.6, col] = 0

In [29]:
df

,student,KC01,KC02,KC03,KC04,KC05,KC06,KC07,KC08,KC09,...,KC26,KC27,KC28,KC29,KC30,KC31,KC32,KC33,KC34,KC35
0,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
1,159,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,163,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,177,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
4,178,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3692,156134,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3693,157277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3694,159719,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3695,163164,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3696,163290,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [30]:
df.to_csv('../data/kc_dedup_smath12_reshape.csv', index=False)